* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 4em auto 2em;
    grid-template-areas:
            "header"
            "main"
            "footer";
    row-gap: 20px;
}

header {
    grid-area: header;
}

img {
    max-height: 200px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

section {
    display: flex;
    justify-content: space-between;
}


